/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #31749d;
  font: 100.01%/1 serif;
}
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #31749d;
  font: 100.01%/1 serif;
}
main {
  min-height: 10em;
  border: 3px solid black;
  padding: 8px;
}
img,
embed,
object,
video {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.outer-wrap.outer-wrap-main {
  margin: 8px;
}
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #31749d;
}
.inner-wrap.inner-wrap-header {
  background-color: #31749d;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
.site-logo {
  display: none;
}
.rm-navbar {
  background-color: #fff;
  border: 5px solid black;
  text-align: center;
  margin: 15px auto;
  max-width: 300px;
}
.region-flash img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.author-byline {
  display: block;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 5px;
  font-style: italic;
  margin: 3px;
  text-align: center;
  position: relative;
  padding: 10px;
}
.author-byline img {
  position: absolute;
  left: 100px;
  top: 1px;
  height: 95%;
}
.region-footer {
  text-align: center;
}
.footer-column {
  border: 1px solid black;
  width: 33%;
  float: left;
  margin: 0 auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Navbar
 */
@media screen and (max-width: 1107px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
/**
 * Right side-bar
 */
@media screen and (max-width: 1096px) {
  .wrap-sidebar.region-sidebar-right.has-sidebar-right.has-sidebar {
    width: 15%;
  }
  .block.site-footer {
    float: left;
  }
}
/**
 * Byline
 */
@media screen and (max-width: 1014px) {
  .author-byline img {
    height: 30%;
  }
}
/**
 * Footer
 */
@media screen and (max-width: 613px) {
  .column.footer-column {
    width: 30%;
  }
  .block.site-footer {
    float: left;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
/**
 * My own settings, not currently in their own module.
 */
